@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #383e45;
  /* rem=「root em」の略。「HTML」の文字サイズを基準とした相対値で文字サイズを規定する。
  親要素のサイズに影響されない */
  font-size: 0.9rem;
  text-align: center;
}
/* main, footer {
  width: 70%;
  margin: auto;
} */
#mainvisual {
  position: relative;
}
#mainvisual p {
  position: absolute;
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
  top: 30%;
  left: 1.5em;
}
#mainvisual img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
h1 {
  margin: 10px 0;
}
iframe {
  width: 70%;
  height: 700px;
  margin: 30px 0;
}
footer {
  padding: 10px;
  background-color: rgb(191, 214, 150);
}